@import "variables.scss";

@import "~bulma";
@import "~bulma-divider";
@import "~buefy/src/scss/buefy";

// a {
//   color: $violet-2;
// }

a.out,
.content a,
.ProseMirror a {
  text-decoration: underline;
  text-decoration-color: #ed8d07;
  text-decoration-thickness: 2px;
}

// input.input {
//   border-color: $input-border-color !important;
// }

.section {
  padding: 1rem 1% 4rem;
}

figure img.is-rounded {
  border: 1px solid #cdcaea;
}

$color-black: #000;

.mention {
  background: rgba($color-black, 0.1);
  font-size: 0.9rem;
  font-weight: bold;
  border-radius: 5px;
  padding: 0.2rem;
  white-space: nowrap;
  margin-right: 0.2rem;
}

.mention-suggestion {
  color: rgba($color-black, 0.6);
}

.mention .mention {
  background: initial;
  margin-right: 0;
}

.select select {
  border-color: $borders;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

body {
  background: $body-background-color;
  font-family: BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Segoe UI",
    "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

  overflow-x: hidden;
}

#mobilizon > .container > .message {
  margin: 1rem auto auto;
  .message-header {
    button.delete {
      background: #4a4a4a;
    }
  }
}

.module-description {
  margin-bottom: 2rem;
  color: $violet-1;
}

$list-background-color: $scheme-main !default;
$list-shadow: 0 2px 3px rgba($scheme-invert, 0.1),
  0 0 0 1px rgba($scheme-invert, 0.1) !default;
$list-radius: $radius !default;

$list-item-border: 1px solid $border !default;
$list-item-color: $text !default;
$list-item-active-background-color: $link !default;
$list-item-active-color: $link-invert !default;
$list-item-hover-background-color: $background !default;

.list-item {
  display: block;
  padding: 0.5em 1em;
  &:not(a) {
    color: $list-item-color;
  }
  &:first-child {
    border-top-left-radius: $list-radius;
    border-top-right-radius: $list-radius;
  }
  &:last-child {
    border-bottom-left-radius: $list-radius;
    border-bottom-right-radius: $list-radius;
  }
  &:not(:last-child) {
    border-bottom: $list-item-border;
  }
  &.is-active {
    background-color: $list-item-active-background-color;
    color: $list-item-active-color;
  }
}

a.list-item {
  background-color: $list-item-hover-background-color;
  cursor: pointer;
}

.setting-title {
  margin-top: 2rem;
  margin-bottom: 1rem;

  h2 {
    display: inline;
    background: $secondary;
    padding: 2px 7.5px;
    text-transform: uppercase;
    font-size: 1.25rem;
  }
}

@mixin focus() {
  &:focus {
    border: 2px solid black;
    border-radius: 5px;
  }
}

ul.menu-list > li,
p {
  @include focus;
}
.navbar-item {
  @include focus;
}

.navbar-dropdown span.navbar-item:hover {
  background-color: whitesmoke;
  color: #0a0a0a;
}
